<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <title>Cake-It-Easy</title>
</head>
<body>
    <header class="header-bar">
      <a href="{{ url_for('home') }}">
        <img class="logo-img" src="../static/images/basic-logo.png" alt="">
      </a>
      <a href="{{ url_for('home') }}">
        <h1>Cake It Easy!</h1>
        <h3>Artisinal Cupcakes</h3>
      </a>
      <div class="cart">
        <a href="{{ url_for('order') }}">
          <h7>{{ items_num }} in Cart</h7>
          <h7>${{ order_total }}</h7>
        </a>
      </div>
    </header>
    <main>
        <div class="header-sub-text">
          <h3>Cupcakes Currently Available!</h3>
          <p>Voted “Best Colorado Cupcakes of 2022” by That News Outlet. Cupcakes at Cake It Easy are made from daily fresh ingredients and come in a unique option of flavors</p>
        </div>
        <div class="all-product-boxes">
            {% for cupcake in cupcakes %}
                <div class="home-page-product-box">
                    <a href="{{ url_for('individual_cupcake', name=cupcake['name']) }}">
                        <h3>{{ cupcake["name"] }}</h3>
                    </a>
                    <div class="indv-cake-script">
                        <h5>A light {{ cupcake["flavor"] }} with a smooth and rich {{ cupcake["frosting"] }}</h4>
                    </div>
                    <div class="price-and-btn">
                      <a class="a-ref-btn" href="{{ url_for('add_cupcake', name=cupcake['name']) }}">
                          <button class="add-to-cart-btn">Add for... $ {{ cupcake["price"] }}</button>
                      </a>
                      <div>
                        <h5 class="size">{{ cupcake["size"] }}</h5>
                      </div>
                    </div>
                </div>    
            {% endfor %}
        </div>
    </main>
</body>
</html>