<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/index.css" />
    <title>Cake-It-Easy ~ Order Total</title>
  </head>
  <body>
    <header class="header-bar">
      <a href="{{ url_for('home') }}">
        <img class="logo-img" src="../static/images/basic-logo.png" alt="" />
      </a>
      <a href="{{ url_for('home') }}">
        <h1>Cake It Easy!</h1>
        <h3>Artisinal Cupcakes</h3>
      </a>
      <div class="cart">
        <a href="{{ url_for('order') }}">
          <h7>{{ items_num }} in Cart</h7>
          <h7>${{ order_total }}</h7>
        </a>
      </div>
    </header>
    <main>
      <div class="indv-cake-sub-text">
        <h3>Your Cupcake Order Details!</h3>
        <br />
      </div>
      <table class="order-table">
        <th>
          <h5 class="table-column-names">Name of Cupcake</h5>
        </th>
        <th>
          <h5 class="table-column-names">Size</h5>
        </th>
        <th>
          <h5 class="table-column-names">Price</h5>
        </th>
        <th>
          <h5 class="table-column-names">Quantity</h5>
        </th>
        {% for cupcake in cupcakes %}
        <tr>
          <td>
            <h5>{{ cupcake[0] }}</h5>
          </td>
          <td>
            <h5>{{ cupcake[1] }}</h5>
          </td>
          <td>
            <h5>$ {{ cupcake[2] }}</h5>
          </td>
          <td class="quantity">
            <h5>{{ cupcake[3] }}</h5>
          </td>
        </tr>
        {% endfor %}
      </table>
    </main>
  </body>
</html>
