<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/index.css" />
    <title>Cake-It-Easy ~ Order Total</title>
  </head>
  <body>
    <header>
      <a href="{{ url_for('home') }}">
        <h1>Cake It Easy!</h1>
        <h3>Artisinal Cupcakes</h3>
      </a>
      <div class="cart">
        <a href="{{ url_for('order') }}">
          <h7>{{ items_num }} in Cart</h7>
          <h7>${{ order_total }}</h7>
        </a>
      </div>
    </header>
    <main>
      <table class="order-table">
        <th>
          <h5>Cupcake</h5>
        </th>
        <th>
          <h5>Price</h5>
        </th>
        <th>
          <h5>Quantity</h5>
        </th>
        <th>
          <h5>Remove</h5>
        </th>
        {% for cupcake in cupcakes %}
        <tr>
          <td>
            <h6>{{ cupcake[0] }}</h6>
          </td>
          <td>
            <h6>Price: {{ cupcake[1] }}</h6>
          </td>
          <td>
            <h6>Qty: {{ cupcake[2] }}</h6>
          </td>
          <td>
            <h6>(input remove)</h6>
          </td>
        </tr>
        {% endfor %}
      </table>
    </main>
  </body>
</html>
