body {
    background-color: #EDE3E9;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header-bar {
    background-color: hsl(324, 50%, 84%);
    text-shadow: 1px 1px 1px hsl(268, 41%, 54%);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10rem;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 5px 5px hsl(324, 50%, 83%);
    padding-left: 40rem;
    text-align: center;
}

.logo-img {
    position: fixed;
    top: 1rem;
    left: 6rem;
    width: 8rem;
}

.title {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.cart {
    position: fixed;
    right: 7rem;
    font-size: 1.3rem;
    font-weight: bold;
}

.header-sub-text {
    color: hsl(268, 41%, 54%);
    text-shadow: 1px 1px 1px hsl(324, 50%, 84%);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.indv-cake-sub-text {
    color: hsl(268, 41%, 54%);
    text-shadow: 1px 1px 1px hsl(324, 50%, 84%);
    margin-left: 38rem;
}

.all-product-boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90rem;
    color: hsl(208, 100%, 97%);
    text-shadow: 0px 1px 1px hsl(268, 41%, 54%);
}

.home-page-product-box {
    background-color: #EBC3DB;
    border: 2px hsl(324, 50%, 83%) solid;
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsl(324, 50%, 83%);
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 4.5rem;
    padding: 1rem;
    width: 15rem;
}

.indv-product-box {
    color: hsl(208, 100%, 97%);
    text-shadow: 1px 1px 1px hsl(268, 41%, 54%);
    background-color: #EBC3DB;
    border: 2px hsl(324, 50%, 83%) solid;
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsl(324, 50%, 83%);
    margin-top: 3rem;
    padding: 1rem;
    width: 15rem;
    margin-left: 37rem;
}

.indv-cake-script {
    height: 4rem;
    line-height: 15pt;
}

main {
    margin-top: 12rem;
}

a:link {
    text-decoration: none;
    color: hsl(268, 41%, 54%);
    text-shadow: 1px 1px 1px hsl(208, 100%, 97%);
}

a:visited {
    text-decoration: none;
    color: hsl(268, 41%, 54%);
}

a:hover {
    text-decoration: none;
    color: hsl(268, 41%, 54%);
    text-shadow: none;
}

.add-to-cart-btn {
    font-size: 0.8rem;
    background-color: hsl(269, 63%, 74%);
    text-decoration: none;
    color: hsl(208, 100%, 97%);
    border: 2px hsl(324, 50%, 83%) solid;
    border-radius: 15px;
    padding: 0.4rem 0.4rem;
    margin-left: 3rem;
    font-weight: bold;
}

.add-to-cart-btn:hover {
    color: #EBC3DB;
    background-color: hsl(268, 41%, 54%);
}

.price-and-btn {
    display: flex;
    flex-direction: column;
}

.a-ref-btn {
    padding-top: 1rem;
    padding-left: 1rem;
}

.size {
    text-align: center;
    font-size: 1rem;
    color: hsl(268, 41%, 54%);
    text-shadow: 1px 1px 1px hsl(208, 100%, 97%);
}

.table-column-names {
    color: hsl(268, 41%, 54%);
    text-shadow: 1px 1px 1px hsl(208, 100%, 97%);
}

.order-table {
    background-color: #EBC3DB;
    border: 2px hsl(324, 50%, 83%) solid;
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsl(324, 50%, 83%);
    margin-left: 21.2rem;
    padding: 2rem;
    font-size: 1.3rem;
    width: 50rem;
    text-align: left;
    color: hsl(208, 100%, 97%);
    text-shadow: 0px 1px 1px hsl(268, 41%, 54%);
}

td {
    padding: 0;
}

.quantity {
    padding-left: 2rem;
}